.users-container {
  padding: 20px;
  max-width: 800px;
  margin: 0 auto;
}

.users-list {
  list-style-type: none;
  padding: 0;
}

.user-item {
  border: 1px solid #ddd;
  padding: 15px;
  margin-bottom: 15px;
  border-radius: 4px;
  transition: transform 0.3s ease, box-shadow 0.3s ease; /* Transition for transform and shadow */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Initial shadow */
}

.user-item:hover {
  transform: translateY(-5px); /* Lift effect on hover */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Deeper shadow on hover */
}

.user-name {
  font-size: 1.2rem;
  font-weight: 700;
}

.user-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.user-link {
  text-decoration: none;
  color: #333;
  flex-grow: 1;
}

.button {
  background-color: #f0a500;
  color: white;
  border: none;
  padding: 8px 16px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.4s;
}

.button:hover{
  background-color: white;
  border: solid 1px #f0a500;
  color: #f0a500;
}

.follow-button:hover {
  background-color: #f0a500;
}

.follow-button {
  cursor: pointer;
}

.follow-button:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}

.btn-con {
  display: flex;
  gap: 1rem;
}